<a href="https://colab.research.google.com/github/Chinuaoku/My-Python-Practice/blob/main/Python_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
nums = []
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        nums.append(i)
print(nums)
print(len(nums))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]
138

* Write a python script that requires year of birth input from a user and returns the users age

In [3]:
yob = int(input("Enter your year of birth: "))
age = 2025 - yob
print('Your age is:', age)

Enter your year of birth: 1992
Your age is: 33

In [1]:
from datetime import datetime
year = datetime.now().year
yob = int(input("Enter your year of birth: "))
age = year - yob
print('Your age is:', age)

Enter your year of birth: 1992
Your age is: 33

* Write a program that requests for a username and password from the user  and returns the message Hello username, your passowrd is ***** and the password length is ----

In [2]:
username = str(input('Enter your username: '))
password = len(input('Enter your password: '))
x = password * ('*')
print('Hello ', username, 'your password is', x, 'and the password length is', password)

Enter your username: Chinua
Enter your password: asdfg
Hello  Chinua your password is ***** and the password length is 5

* Return this array with no duplicates


my_array = [1,2,3,4,5,6,7,6,,5,2,7]

In [2]:
my_array = [1,2,3,4,5,6,7,6,5,2,7,7,8,6,1,1,4,3,2,5,6,7,4,9,8,9,]
new_array = []
for i in my_array:
    if i in new_array: continue
    else: new_array.append(i)
print(new_array)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* is_magician = True
* is_expert = False

write a program that checks if a user is a magician and an expert returns You are an expert.
if user is a magician but not an expert print at least you tried . If user is not a magician print you need magic powers

In [6]:
a = 'magician'
b = 'expert'
user = input('what is your skill: ')
if user != a:
    print('You need magic powers')
elif user == a:
    ask_again = input('What is your second skill? : ')
    if ask_again == b:
        print('You are an expert')
    else:
        print('At least you tried')

what is your skill: magician
What is your second skill? : expert
You are an expert

In [27]:
is_magician = False
is_expert = True

if is_magician and is_expert:
    print('You are an expert')
elif is_magician:
    print('At least you tried')
elif is_expert:
    print('You need magical powers')

You need magical powers

In [14]:
for i in range(1,10):
    y = i * ' *'
    print(y.center(20))

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

* Build a simple counter that counts the items in our list, and sum the list using a for loop.

In [3]:
sum = 0
total_list = 0
my_list = [1,2,3,4,5,6,7,8,9,10]
for i in my_list:
    total_list = total_list + 1
    sum = sum + i
print(total_list, sum)

10 55